services:
  postgres:
    image: 'postgres:16.2-alpine'
    environment:
      - 'POSTGRES_DB=spring_monolith'
      - 'POSTGRES_PASSWORD=password'
      - 'POSTGRES_USER=postgres'
    ports:
      - '5432:5432'

    volumes:
      - postgres:/var/lib/postgresql/data

volumes:
  postgres:
